@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* .customContainer {
  @apply container mx-auto px-6 lg:px-8 2xl:px-[120px]
} */

@media screen and (min-width: 1080px) {
  .banner {
    padding: 40px 72px 24px;
  }
  .banner_Image {
    width: 683px;
    height: 378px;
  }
}

@media screen and (max-width: 1079px) {
  .banner {
    padding: 40px 72px 24px;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    padding: 72px 116px 24px;
  }
  .banner_Image {
    width: 438px;
    height: 238px;
  }
}

@media screen and (max-width: 576px) {
  .banner {
    padding: 64px 16px 0px;
  }
}
@media screen and (max-width: 425px) {
  .banner_Image {
    width: 328px;
    height: 180px;
  }
}
@media screen and (max-width: 375px) {
}
@media screen and (max-width: 320px) {
}
